spring:
  datasource:
    url: jdbc:postgresql://ep-icy-sunset-ac0bhd6h-pooler.sa-east-1.aws.neon.tech/neondb
    username: neondb_owner
    password: npg_ZsPNI67JuxVd
    driver-class-name: org.postgresql.Driver

  jpa:

      hibernate:
          ddl-auto: none
      show-sql: true 
      properties:
          hibernate:
                format_sql: true


logging:
  level:
    org:
      springframework:
        jdbc: DEBUG
    com:
      bcopstein: DEBUG

application:
  name: ex4-lancheriaddd-v1

server:
  port: 8080
